#ps{
                border: 5px solid #d4b819;
                background-color: black;
                color:blueviolet;
            }
            .cp{
                font-size:50px ;
            }
            .cs{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .cr{
                color: crimson;
            }